<section id="concept" class="concept-section">
  <h2 class="mb-5 fadein">CONCEPT</h2>
  <div class="concept-content">
    <div class="concept-image">
      <img src="/images/concept3.jpg" class="slider-image" alt="Creative Process">
      <p class="concept-caption">
        豊富な経験と日々新しくなる最新の情報で迅速で正確な成果を出します
      </p>
    </div>

    <div class="concept-points">
      <div class="point">
        <img src="/images/mission.png" alt="Mission Icon" class="concept-icon">
        <div>
          <h4>MISSION</h4>
          <p>クライアントの成功を本気でお手伝い</p>
        </div>
      </div>
      <div class="point">
        <img src="/images/vision.png" alt="Vision Icon" class="concept-icon">
        <div>
          <h4>VISION</h4>
          <p>新しいことにチャレンジする行動力</p>
        </div>
      </div>
      <div class="point">
        <img src="/images/values.png" alt="Values Icon" class="concept-icon">
        <div>
          <h4>VALUES</h4>
          <p>AIをはじめとしたITの進化をクライアントに共有</p>
        </div>
      </div>
    </div>
  </div>
</section>
