<%# render 'top' %>
<%# render 'features' %>
<%# render 'concept' %>
<%# render 'works' %>

<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">
  <h4 id="main-title" class="text-center">Asia business Trust プロトタイプ</h4>
</div>

