<div class="container mt-4">
  <h3>予約・注文</h3>
  
  <% is_customer = current_user.level&.value == 6 %>
  <div class="row mt-4 <%= 'justify-content-center' if is_customer %>">
    <div class="<%= is_customer ? 'col-md-6 col-lg-4' : 'col-md-4' %> mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title">クリニックの予約をする</h5>
          <p class="card-text">クリニックでの診療予約を行います</p>
          <button class="btn btn-primary" disabled>
            準備中
          </button>
        </div>
      </div>
    </div>
    
    <div class="<%= is_customer ? 'col-md-6 col-lg-4' : 'col-md-4' %> mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title">幹細胞培養上精液を注文する</h5>
          <p class="card-text">幹細胞培養上精液の商品を注文します</p>
          <%= link_to "商品一覧を見る", orders_products_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
    
    <% unless is_customer %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title">エアーガンを注文する</h5>
            <p class="card-text">エアーガンの注文を行います</p>
            <button class="btn btn-primary" disabled>
              準備中
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
