<div id="admin" class="container mt-5">
  <h2 class="mb-4">管理者メニュー</h2>

  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to 'お問い合わせ一覧', admin_inquiries_path, class: 'text-decoration-none' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'トップページへ戻る', root_path, class: 'text-decoration-none' %>
    </li>
  </ul>
</div>
