.flash-message {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0 15px;
  text-align: center;
}




.notice {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
}
