// 注文ページのスタイル

.order-card {
  height: 200px !important;
}

.order-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-card .card-title {
  margin-bottom: 20px;
}

.order-card-with-image {
  height: 200px !important;
}

.order-card-with-image .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
