<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <%= link_to "MS Works", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a href="#works" class="nav-link">制作実績</a>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", "#contact", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
